/* Global styles */
html {
  font-size: 18px;
}

body {
  font-family: Helvetica;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: black;
  /*FOR TESTING*/
  border: 1px solid pink;
}

/* Header section */
header {
  background-color: black;
  width: 960px;
  display: flex;
  align-items: center;
  /*FOR TESTING*/
  border: 1px solid pink;
}

header img {
  padding: 0.66rem 0.5rem;
  height: 1.5rem;
  width: auto;
}

header h4 {
  font-size: 1rem;
  color: white;
  padding: 0 0.5rem;
}

/* Banner section */
#banner {
  width: 100%;
  height: 25rem;
  background-image: url("../images/moto.jpeg");
  background-size: cover;
  display: flex;
  /*FOR TESTING*/
  border: 1px solid pink;

}

#banner .text {
  background-color: black;
  width: 20rem;
  /*FOR TESTING*/
  border: 1px solid pink;
}

#banner .text h4,h1 {
  font-weight: bold;
  padding-left: 3rem;
  color: white;
}

#banner h4 {
  font-size: 1rem;
  padding-top: 2rem;
}

#banner h1 {
  font-size: 2rem;
  padding-top: 0.25rem;
}

/* Nav section */
nav {
  background-color: firebrick;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 960px;
  /*FOR TESTING*/
  border: 1px solid pink;
}

nav li {
  list-style: none;
  display: inline-block;
  text-align: right;
  color: white;
  padding: 0.75rem 0;
}

/* Content section */
#products {
  width: 960px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

figure {
  display: flex;
  flex-direction: column;
  /*FOR TESTING*/
  border: 1px solid pink;
}

figure img {
  width: 30%;
  height: 9rem;
  padding: 2rem 0;
}

figcaption {
  background-color: black;
  text-align: center;
  padding: 0.5rem 0;
}
