/* Global styles */
html {
  font-size: 18px;
}

body {
  font-family: Helvetica;
  width: 100%;
  /*FOR TESTING*/
  border: 1px solid pink;
}

/*Class container spans the whole width of the page*/

.container {
  width: 100%;
  margin: 0 auto;
  background-color: black;
}

/*Class fixwidth sets objects to be centered with a width of 960px */
.fixwidth {
  width: 960px;
  margin: 0 auto;
}

/*Color sections. Many objects with class container have a corresponding background color */
.transparent {
  background-color: transparent;
}

.red {
  background-color: firebrick;
}

.white {
  background-color: white;
  padding-top: 3rem;
  padding-bottom: 4rem;
}

/* Header section */
header {
  background-color: black;
  display: flex;
  align-items: center;
  /*FOR TESTING*/
  border: 1px solid pink;
}

header img {
  padding: 0.66rem 0.5rem;
  height: 1.5rem;
  width: auto;
}

header h4 {
  font-size: 1rem;
  color: white;
  padding: 0 0.5rem;
}

/* Banner section */
#banner {
  height: 25rem;
  background-image: url("../images/moto.jpeg");
  background-size: cover;
  display: flex;
  /*FOR TESTING*/
  border: 1px solid pink;

}

/*Black box in bnner section */
#banner .text {
  background-color: black;
  width: 20rem;
  margin-top: 9rem;
  padding: 2rem 3rem;
  /*FOR TESTING*/
  border: 1px solid pink;
}

#banner .text h4,h1 {
  font-weight: bold;
  color: white;
}

#banner h4 {
  font-size: 1rem;
}

#banner h1 {
  font-size: 2rem;
  padding-top: 0.25rem;
}

/* Nav section */

nav {
  background-color: firebrick;
  /*FOR TESTING*/
  border: 1px solid pink;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav li {
  list-style: none;
  display: inline-block;
  text-align: right;
  color: white;
  padding: 0.75rem 0;
}

/* Content section */

#products {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

figure {
  display: flex;
  flex-direction: column;
  border: 4px solid black;
  width: 30%;

}

figure img {
  height: 9rem;
  width: auto;
  padding: 2rem 0;
  object-fit: contain;
}

figcaption {
  background-color: black;
  text-align: center;
  padding: 0.5rem 0;
  color: white;
}

/* Info section */
#info {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.object {
  width: 35%;
}

.box {
  background-color: black;
  padding: 1rem 2rem;
  color: white;
}

/*Footer section*/
footer {
  color: white;
  text-align: left;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
